// out: ../triangles.css

.input_box {
  &.colors {
    margin: 10px 5px 0;
  }

  &.rgb {
    .number_wrapper:nth-child(2) {
      margin: 0 5px;
    }
    .input {
      width: 59px;
    }
  }

  &.colorpicker .input {
    width: 100px;
    padding: 4px;
  }

  &.hex {
    margin-right: 8px;
  }

  &.dimensions {
    display: flex;
    flex-direction: row;
   .input_header {
      white-space: nowrap;
    }
    .box_wrapper {
      overflow: hidden;
      transition: all .4s ease;
      margin: 0;
      animation: none;
    }
    .input {
      width: 100%;
    }
    .crement {
      transition: all .3s ease;
    }
  }
}

.box_wrapper.size {
  width: 100px;
}

.inputs_expander {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 1;
}

.sl89-track {
  width: 9em;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
