body {
  overflow: hidden;
}
canvas {
  width: 100vw;
  height: 100vh;
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Don't know if that works */
button::-moz-focus-inner {
  border: none;
}
.toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  background-color: hsl(0, 0%, 10%);
  padding: 0 12px 10px;
  box-sizing: border-box;
  transform: translateY(-100%);
  transition: all 0.2s ease;
}
body.expanded .toolbar {
  transform: none;
}
.toolbar .inputs {
  display: flex;
  flex-wrap: wrap;
}
.input_wrapper {
  display: flex;
  flex-direction: row;
}
.input_header {
  color: hsl(0, 0%, 70%);
  font-family: 'Calibri', serif;
  font-size: 20px;
  display: block;
}
.input_box {
  margin: 10px 8px 0;
}
.input_box.checker {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input_box.checker .checker {
  position: relative;
  cursor: pointer;
  width: 25px;
}
.input_box.checker .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 14px, 4px 10px, 4px 10px, 0px 14px, 9.5px 24px);
  transform: scale(0.85);
  transition: all 0.18s ease;
  opacity: 0.8;
}
.input_box.checker.active .checkmark {
  opacity: 1;
  clip-path: polygon(26px 7px, 22px 3px, 4px 10px, 0px 14px, 10px 24px);
  transform: none;
  animation: 0.25s checkerIn ease;
}
@keyframes checkerIn {
  0% {
    clip-path: polygon(0 14px, 4px 10px, 4px 10px, 0px 14px, 9.5px 24px);
  }
  30% {
    clip-path: polygon(9.5px 24px, 9.5px 16px, 4px 10px, 0px 14px, 9.5px 24px);
  }
  100% {
    clip-path: polygon(26px 7px, 22px 3px, 4px 10px, 0px 14px, 10px 24px);
  }
}
.input_box.checker .mark {
  position: absolute;
  height: 3px;
  background-color: hsl(0, 0%, 70%);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.input_box.checker .mark.lower {
  transform: rotate(45deg);
  width: 11px;
  left: 1px;
  bottom: 7px;
}
.input_box.checker .mark.upper {
  transform: rotate(-45deg);
  width: 20px;
  left: 6px;
  bottom: 10.5px;
}
.input_box.button .input {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.input_box.button.ref .input {
  text-decoration: none;
}
.input {
  border: none;
  padding: 3px 5px 1px;
  background-color: hsl(0, 0%, 19%);
  color: hsl(0, 0%, 70%);
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  height: 25px;
  box-sizing: border-box;
}
.input:invalid {
  background-color: hsl(0, 37%, 25%);
  box-shadow: 0 0 0 1px hsl(0, 60%, 30%);
}
.input.number {
  -moz-appearance: textfield;
  appearance: textfield;
}
.input.number::-webkit-inner-spin-button,
.input.number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number_wrapper {
  position: relative;
}
.crement {
  position: absolute;
  right: 0px;
  height: 50%;
  width: 20px;
  font-size: 0.6em;
  color: hsl(0, 0%, 63%);
  background-color: hsl(0, 0%, 27%);
  padding: 0;
}
.crement.plus {
  top: 0;
}
.crement.minus {
  bottom: 0;
}
.crement_buttons.small .crement {
  width: 16px;
}
.sl89-track {
  width: 9.5em;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
