.input_box.colors {
  margin: 10px 5px 0;
}
.input_box.rgb .number_wrapper:nth-child(2) {
  margin: 0 5px;
}
.input_box.rgb .input {
  width: 59px;
}
.input_box.colorpicker .input {
  width: 100px;
  padding: 4px;
}
.input_box.hex {
  margin-right: 8px;
}
.input_box.dimensions {
  display: flex;
  flex-direction: row;
}
.input_box.dimensions .input_header {
  white-space: nowrap;
}
.input_box.dimensions .box_wrapper {
  overflow: hidden;
  transition: all 0.4s ease;
  margin: 0;
  animation: none;
}
.input_box.dimensions .input {
  width: 100%;
}
.input_box.dimensions .crement {
  transition: all 0.3s ease;
}
.box_wrapper.size {
  width: 100px;
}
.inputs_expander {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 1;
}
.sl89-track {
  width: 9em;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
