<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'lib/website-common/template/common-head.njk' %}
    <link rel="stylesheet" href="/graphics/style/main.css">
  </head>
  <body>
    <div class="toolbar">
      <div class="inputs"></div>
    </div>

    <div class="container">
      <canvas width="800" height="800"></canvas>
    </div>

    <script src="/graphics/lib/slider89/dist/slider89.js"></script>
    <script src="/graphics/lib/graphics-tools/script/webGL2SupportCheck.js"></script>
    <script src="/graphics/lib/graphics-tools/script/GLBoiler.js"></script>
    <script src="/graphics/lib/graphics-tools/script/Matrices.js"></script>
    <script src="/graphics/lib/controls3d/script/State3D.js"></script>
    <script src="/graphics/lib/controls3d/script/Controls3D.js"></script>
    <script src="/graphics/script/base.js"></script>
    <script src="/graphics/script/matrices3d.js"></script>
  </body>
</html>
