<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'lib/website-common/template/common-head.njk' %}
    <link rel="stylesheet" href="/graphics/style/main.css">
    <link rel="stylesheet" href="/graphics/style/triangles.css">
  </head>
  <body class="expanded">
    <div class="toolbar">
      <div class="inputs">
        <div class="input_box colors colorpicker">
          <input type="color" value="#17469E" class="input color">
          <span class="input_header">Color picker</span>
        </div>
        <div class="input_box colors rgb">
          <div class="input_wrapper">
            <div class="number_wrapper">
              <input type="number" value="23" max="255" min="0" class="input number rgb r">
              <div class="crement_buttons small">
                <button class="crement plus noselect">▲</button>
                <button class="crement minus noselect">▼</button>
              </div>
            </div>
            <div class="number_wrapper">
              <input type="number" value="70" max="255" min="0" class="input number rgb g">
              <div class="crement_buttons small">
                <button class="crement plus noselect">▲</button>
                <button class="crement minus noselect">▼</button>
              </div>
            </div>
            <div class="number_wrapper">
              <input type="number" value="158" max="255" min="0" class="input number rgb b">
              <div class="crement_buttons small">
                <button class="crement plus noselect">▲</button>
                <button class="crement minus noselect">▼</button>
              </div>
            </div>
          </div>
          <span class="input_header">Color value in R, G, B</span>
        </div>
        <div class="input_box colors hex">
          <input type="text" value="#17469E" class="input text" minlength="4" maxlength="7" size="7" pattern="#[\dA-Fa-f]{3}|#[\dA-Fa-f]{6}">
          <span class="input_header">Color in HEX</span>
        </div>
        <div class="input_box dimensions">
          <div class="box_wrapper size">
            <div class="number_wrapper">
              <input type="number" value="50" class="input number" min="1">
              <div class="crement_buttons">
                <button class="crement plus noselect">▲</button>
                <button class="crement minus noselect">▼</button>
              </div>
            </div>
            <span class="input_header">Triangle Size</span>
          </div>
        </div>
        <div class="input_box button">
          <button class="input" onclick="generate();">Regenerate</button>
        </div>
        <div id="slider_lightness"></div>
        <div id="slider_threshold"></div>
        <div class="input_box lines checker">
          <div class="input checker" onclick="toggleLines();">
            <div class="checkmark">
              <span class="mark lower"></span>
              <span class="mark upper"></span>
            </div>
          </div>
          <span class="input_header">Line mode</span>
        </div>
        <div class="input_box button">
          <button class="input" onclick="resetProperties();">Reset values</button>
        </div>
        <div class="input_box button">
          <button type="button" class="input" onclick="getParamLink()">Copy value link</button>
        </div>
        <div class="input_box button ref download_canvas">
          <a class="input" download="triangles.png" onclick="downloadCanvas()">Download image</a>
        </div>
      </div>
    </div>

    <canvas width="800" height="800"></canvas>

    <script src="/graphics/lib/slider89/dist/slider89.js"></script>
    <script src="/graphics/lib/graphics-tools/script/webGL2SupportCheck.js"></script>
    <script src="/graphics/lib/graphics-tools/script/GLBoiler.js"></script>
    <script src="/graphics/script/base.js"></script>
    <script src="/graphics/script/triangles/gl.js"></script>
    <script src="/graphics/script/triangles/ui.js"></script>
    <script src="/graphics/script/triangles/index.js"></script>
    <script>
      const inputColor = document.querySelector('.input_box.colorpicker .input');
      const inputsRGB = document.querySelectorAll('.input_box.rgb .input');
      const inputHEX = document.querySelector('.input_box.hex .input');
      const inputSize = document.querySelector('.box_wrapper.size .input');
      const inputLines = document.querySelector('.input_box.lines');
      const inputDownload = document.querySelector('.input_box.download_canvas .input');

      const sizeAlert = document.getElementById('size_alert');
      const expander = document.querySelector('.inputs_expander');

      inputColor.addEventListener('input', pickerChange);
      inputHEX.addEventListener('input', hexChange);
      for (let i = 0; i < inputsRGB.length; i++) {
        inputsRGB[i].addEventListener('input', rgbChange);
      }

      computeSizes();

      const sliderDefault = {
        precision: 1,
        events: {
          update: [ () => { draw(true) } ]
        }
      };

      const sliderLightness = new Slider89(document.getElementById('slider_lightness'), {
        value: defaultProps.lightness,
        extend: [
          sliderDefaultCommon('Lightness start'),
          sliderDefault,
        ]
      }, true);
      const sliderThreshold = new Slider89(document.getElementById('slider_threshold'), {
        value: defaultProps.threshold,
        precision: 1,
        extend: [
          sliderDefaultCommon('Lightness falloff'),
          sliderDefault,
        ]
      }, true);

      handleSearchParams();
      generate();
    </script>
  </body>
</html>
